<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="admin-title-container">
        <h1>Plataforma  de administración</h1>
        <div class="opciones-admin-container">
            <a href="#">Estadísticas</a>
            <a href="../public/addMovie.html">Añadir Película</a>
            <a href="../public/addPromotion.html">Añadir Promoción</a>
            <a href="../public/adminManageBillboard.html">Gestionar Cartelera</a>
            <a href="#">Gestionar Promociones</a>
        </div>
    </div>
</body>
</html>
