<head>
    <link rel="stylesheet" href="../src/css/footer.css">
</head>
<footer>
    
    <div class="container-footer">
        <div class="footer-content">
            <div class="footer-section schedule">
                <h2>Horario</h2>
                <p>Lunes-Viernes: 10:00 - 23:00</p>
                <p>Sábado-Domingo: 16:00 - 23:00</p>
                <p>Fstivos: 18:00 - 22:00</p>
            </div>
            <div class="footer-section legality">
                <h2>Legalidad</h2>
                <p><a href="../public/policy.html" class="NavLink">Política de Privacidad</a></p>
                <p><a href="../public/termsOfUse.html">Términos de uso</a></p>
                <p><a href="../public/cookies.html">Política de Cookies</a></p>
            </div>
            <div class="footer-section social-media">
                <h2>Redes Sociales</h2>
                <p><a href="https://www.twitter.com"><i class="fab fa-twitter"></i> Twitter</a></p>
                <p><a href="https://www.instagram.com"><i class="fab fa-instagram"></i> Instagram</a></p>
                <p><a href="https://www.facebook.com"><i class="fab fa-facebook"></i> Facebook</a></p>
            </div>
            <div class="footer-section contact">
                <p><a href="tel:928242312"><i class="fas fa-phone"></i> 928 24 23 12</a></p>
                <p><a href="mailto:support@zenit.com"><i class="fas fa-envelope"></i> support@zenit.com</a></p>
                <p><a href="https://maps.app.goo.gl/8urCLBW7j9bHrWwd8"><i class="fas fa-map-marker-alt"></i> Autovía GC-1, km 5.5, s/n, 35220 Telde. Las Palmas de Gran Canaria</a></p>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2024 Zenit,Todos los derechos reservados.</p>
        </div>
    </div>
</footer>