<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/formalizer.css">
</head>
<body>
    <header class="HeaderContainer">

        <div class="MenuButton" onclick="toggleMenu()">
            <img src="../assets/img/logoPWM.png" alt="Zenit logo" class="Logo">
            <svg viewBox="0 0 100 80" width="40" height="40" fill="#000">
                <rect width="100" height="20"></rect>
                <rect y="30" width="100" height="20"></rect>
                <rect y="60" width="100" height="20"></rect>
            </svg>
        </div>

        <div class="MenuContent">
            <div class="LeftSideContainer">
                <div class="LogoContainer">
                    <img src="../assets/img/logoPWM.png" alt="Zenit logo" class="Logo">
                </div>
                <nav>
                    <ul class="NavList">
                        <li class="NavItem"><a href="../../public/index.html" class="NavLink">Cines ▼</a></li>
                        <li class="NavItem"><a href="../../public/index.html" class="NavLink">Cartelera</a></li>
                        <li class="NavItem"><a href="../../public/index.html" class="NavLink">Promociones</a></li>
                        <li class="NavItem"><a href="../../public/index.html" class="NavLink">Comprobar Ticket</a></li>
                    </ul>
                </nav>
            </div>
            <div class="ButtonContainer">
                <button>Iniciar Sesión</button>
                <button>Registrarse</button>
            </div>
        </div>

    </header>

    <div class="Dropdown">
        <nav>
            <ul>
                <li class="NavItem"><a href="../../public/index.html" class="NavLink">Cines ▼</a></li>
                <li class="NavItem"><a href="../../public/index.html" class="NavLink">Cartelera</a></li>
                <li class="NavItem"><a href="../../public/index.html" class="NavLink">Promociones</a></li>
                <li class="NavItem"><a href="../../public/index.html" class="NavLink">Comprobar Ticket</a></li>
                <li>Iniciar Sesión</li>
                <li>Registrarse</li>
            </ul>
        </nav>
    </div>

    <script>
        function toggleMenu() {
            var element = document.querySelector(".Dropdown");
            element.classList.toggle("show");
            var height = document.body.scrollHeight;
            window.parent.postMessage({ type: 'resize', height: height }, '*');
        }

        function checkWidthAndAdjust() {
            var element = document.querySelector(".Dropdown");
            if (window.innerWidth > 767 && element.classList.contains("show")) {
                element.classList.remove("show");

                var height = document.body.scrollHeight + 5;
                window.parent.postMessage({ type: 'resize', height: height }, '*');
            }
        }
        window.addEventListener('resize', checkWidthAndAdjust);
    </script>
</body>
</html>