<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/perfil_info.html">
            <p>Información Perfil</p>
        </a>
    </div>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/perfil_contrasena.html">
            <p>Seguridad y Contraseña</p>
        </a>
    </div>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/perfil_pago.html">
            <p>Información de Pago</p>
        </a>
    </div>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/perfil_compras.html">
            <p>Historial de Compras</p>
        </a>
    </div>
</body>
</html>
