<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/profileInfo.html">
            <p>Información Perfil</p>
        </a>
    </div>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/profilePassword.html">
            <p>Seguridad y Contraseña</p>
        </a>
    </div>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/profilePayment.html">
            <p>Información de Pago</p>
        </a>
    </div>
    <div class="opciones-menu-container" id="noactive">
        <a href="../public/profilePurchases.html">
            <p>Historial de Compras</p>
        </a>
    </div>
</body>
</html>
