<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../src/css/progressBar.css">
</head>
<body>
<div class="progress-container">
    <div class="progress-steps">
        <div class="step current">
            <div class="step-name">Entradas</div>
        </div>
        <div class="step">
            <div class="step-name">Comidas</div>
        </div>
        <div class="step">
            <div class="step-name">Butacas</div>
        </div>
        <div class="step">
            <div class="step-name">Pago</div>
        </div>
        <div class="step">
            <div class="step-name">Detalles</div>
        </div>
        <div class="base-line"></div>
        <div class="progress-line"></div>
    </div>
</div>
</body>
</html>