<head>
    <link rel="stylesheet" href="../src/css/recuperar_contrasena.css">
</head>
<div class="form-container-recuperar-contrasena">
    <button class="close-button" onclick="hideRecuperarContrasena()">X</button>
    <p class="title-recuperar-contrasena">Recuperar Contraseña</p>
    <form class="form-recuperar-contrasena">
        <input type="email" class="input-recuperar-contrasena" placeholder="Email">
        <button class="form-btn-recuperar-contrasena">Enviar</button>
    </form>
</div>
