<head>
    <link rel="stylesheet" href="../src/css/register.css">
</head>
<form onsubmit="guardarUser(); return false;">
    <button class="close-button" onclick="hideRegister()">X</button>
    <p class="title">¡Regístrate!</p>
    <p class="message">Regístrate y obtén acceso a nuestra plataforma.</p>
    <div class="flex">
        <label>
            <input id="user-name" class="input" type="text" placeholder="" title="Por favor ingresa tu nombre" required>
            <span>Nombre</span>
        </label>
        <label>
            <input id="user-surname" class="input" type="text" placeholder="" title="Por favor ingresa tus apellidos" required>
            <span>Apellidos</span>
        </label>
        <label>
            <input id="user-email" class="input" type="email" placeholder="" title="Por favor ingresa una dirección de correo electrónico válida" required>
            <span>Email</span>
        </label> 
        <label>
            <input id="user-password" class="input" type="password" placeholder="" pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$" minlength="8" title="La contraseña debe contener al menos una letra mayúscula, un número y un carácter especial, y tener al menos 8 caracteres de longitud." required>
            <span>Contraseña</span>
        </label>
        <label>
            <input id="user-confirm-password" class="input" type="password" placeholder="" pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$" minlength="8" title="Por favor ingresa la misma contraseña que ingresaste anteriormente" required>
            <span>Confirmar contraseña</span>
        </label>
        
        
        <button type="submit" class="submit" >Enviar</button>
    </div>
    <p class="signin">¿Ya tienes una cuenta? <a onclick="hideRegister(), showLogin()">Iniciar sesión</a></p>
</form>
