<head>
    <link rel="stylesheet" href="../src/css/reservationCinemaSessionPopUp.css">
</head>
<div class="proyeccion-container">
    <div class="proyeccion-container-header">
        <h1>DETALLES DE PROYECCIÓN</h1>
        <button onclick="hideReservar()">X</button>
    </div>
    <div class="proyeccion-container-body">
        <img src="../src/assets/img/película1.jpg" alt="" class="proyeccion-img">
        <div class="proyeccion-horas-container">
            <h1>[Titulo de la pelicula]</h1>
            <h2>Salas Disponibles</h2>
            <div class="grid-container-proyeccion"> 
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
                <div class="proyeccion-dia-container" onclick="{{hideReservar(), showReservar2()}}">
                    <span>CINE</span>
                    <span>CIUDAD</span>
                </div>
            </div> 
        </div>
    </div>
</div>