<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/summary.css">
</head>
<body>
    <div class="summary-section">
        <h2>Resumen</h2>
        <div class="summary-section-details">
            <p><strong>Película:</strong> <span id="summary-film-title"> XXXXXXX </span></p>
            <p><strong>Cantidad Básias:</strong> <span id="total_tickets_basic">0</span> </p>
            <p><strong>Cantidad Premium:</strong> <span id="total_tickets_premium">0</span></p>
        </div>
        <img id="summary-film-img" src="../src/assets/img/película1.jpg" alt="">
        <div id="summary-price-container">
            <span id="total_price">0</span> €
        </div>
    </div>
</body>
</html>