<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../src/css/slider.css">
    <script src="../src/js/slider.js"></script>
</head>
<body>
    <div class="slider-container">
        <div class="slider-content">
            <div class="slider-item">
                <img src="../src/assets/img/banner1.jpg" alt="slider1" class="slider-img">
            </div>
            <div class="slider-item">
                <img src="../src/assets/img/banner2.jpg" alt="slider2" class="slider-img">
            </div>
            <div class="slider-item">
                <img src="../src/assets/img/banner3.jpeg" alt="slider3" class="slider-img">
            </div>
        </div>
        <div class="slider-controls">
            <button class="slider-control" onclick="plusSlides(-1)">&#10094;</button>
            <button class="slider-control" onclick="plusSlides(1)">&#10095;</button>
        </div>
    </div>
</body>
</html>
