<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table>
        <tr>
            <th>Día de compra</th>
            <th>Película</th>
            <th>Tipo de pago</th>
            <th>Hora de compra</th>
            <th>Tipo de producto</th>
            <th>Promoción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Establecimiento</th>
        </tr>
            <td>13/02/2024</td>
            <td>Nombre de la película</td>
            <td>Tarjeta de crédito</td>
            <td>10:30 AM</td>
            <td>Entrada</td>
            <td>Sí</td>
            <td>1 entrada</td>
            <td>$10.00</td>
            <td>Cine ABC</td>
        </tr>
    </table>
</body>
</html>