@import url('colors.css');

#admin-botones{
    width: 100%;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

.admin-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.admin-title-container h1 {
    font-size: xxx-large;
    align-self: center;
}

.opciones-admin-container {
    margin-top: 16px;
    background-color: var(--mainColorDarker);
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    padding: 20px;
    align-self: center;
    font-weight: 800;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}
.dashboard-admin-container  {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 80%;
    margin-left: 10px auto;
    flex: 1;
}

.dashboard-admin-container h2 {
    align-self: center;
    font-size: xx-large;
}

.dashboard-admin-content {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    flex: 1;
    justify-content: center;
}

.estadisticas-admin-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}

.estadistica {
    display: flex;
    flex-direction: column;
    background-color: var(--mainColorDarker);
    color: white;
    border-radius: 8px;
    margin-bottom: 8px;
    align-self: flex-start;
    width: 100%;
    padding: 20px 0px;
    gap: 5px;
    text-align: center;
}

.estadistica span {
    margin: 0px 10px;
}

.estadistica > *:nth-child(1){
    font-weight: 800;
}

.gestion-admin-container  {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    border-radius: 16px;
    margin-bottom: 16px;

}


.anadir-container {
    background-color: var(--mainColorDarker);
    border-radius: 8px;   
    padding: 20px;
    margin-top: 16px;
    width: 40%;
}
.anadir-container img {
    width: 40%;
}
.datos-container  {
    display: flex;
}

.inputs-anadir {
    margin: auto;
    width: 50%;
    color: white;
}
.input-anadir select, .input-anadir input{
    width: 50%;
}

.input-anadir {
    display: flex;
    justify-content:  space-between;
    margin-bottom: 8px;
}


.datos-largos-container {
    margin-top: 8px;
    color: white;
}

.datos-largos-container h2 {
    font-size: large;
}
.datos-largos-container input{  
    margin-top: 4px;
    width: 100%;
    min-height: 3vh;
}

.botones-admin {
    align-self: flex-end; 
    margin:  16px 30px 16px 0;
}

.botones-admin button{
    padding: 15px 25px;
    white-space: nowrap;
    border-style: hidden;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    background-color: var(--mainColorDarker);
    cursor: pointer;
}

.datos-sesion-container {
    color: white;
}

.datos-sesion-container select {
    width: 100%;
    margin-bottom: 8px;
}

.datos-sesion-container h2 {
    margin-bottom: 4px;
}

.botones-admin-sesion {
    display: flex;
    align-self: flex-end;
}

.grafico-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: aliceblue;
}


.custom-chart {
    height: 20px;
    margin-left: 50px;
    width: 100%;

}

.canvasjs-chart-credit{
    display: none;
}

@media (max-width: 992px){
    .anadir-container {
        width: 80%;
    }

    .datos-container {
        flex-direction: column;
    }

    .datos-container img{
        align-self: center;
        margin-bottom: 20px;
    }

    .inputs-anadir{
        width: auto;
    }
}
    


@media (max-width: 800px) {
    .admin-title-container h1 {
        font-size: x-large;
    }

    .opciones-admin-container a {
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .opciones-admin-container{
        font-size: small;
    }

    .dashboard-admin-content {
        flex-direction: column;
    }

    .custom-chart {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .estadisticas-admin-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 500px) {
    .admin-title-container h1 {
        font-size: x-large;
    }

    .opciones-admin-container {
        width: 80%;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .estadisticas-admin-container {
        display: flex;
        flex-direction: column;
    }
}
