@import url('colors.css');

#admin-buttons{
    width: 100%;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

.admin-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.admin-title-container h1 {
    font-size: xxx-large;
    text-align: center;
    align-self: center;
}

.opciones-admin-container {
    margin-top: 16px;
    background-color: var(--mainColorDarker);
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    padding: 20px;
    align-self: center;
    font-weight: 800;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}
.dashboard-admin-container  {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 80%;
    margin-left: 10px;
    flex: 1;
}

.dashboard-admin-container h2 {
    align-self: center;
    font-size: xx-large;
}

.dashboard-admin-content {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    flex: 1;
    justify-content: center;
}

.statistics-admin-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}

.statistic {
    display: flex;
    flex-direction: column;
    background-color: var(--mainColorDarker);
    color: white;
    border-radius: 8px;
    margin-bottom: 8px;
    align-self: flex-start;
    width: 100%;
    padding: 20px 0px;
    gap: 5px;
    text-align: center;
}

.statistic span {
    margin: 0px 10px;
}

.statistic > *:nth-child(1){
    font-weight: 800;
}

.admin-management-container  {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    border-radius: 16px;
    margin-bottom: 16px;

}


.add-container {
    background-color: var(--mainColorDarker);
    border-radius: 8px;   
    padding: 20px;
    margin-top: 16px;
    width: 60%;
}
.add-container img {
    width: 40%;
}
.data-container  {
    display: flex;
}

.add-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto 0px;
    color: white;
    gap: 10px;
    margin-left: 20px;
}

.input-add {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 10px;
}

.input-add select, .input-add input{
    flex: 1;
    font-size: large;
}

.input-add span {
    font-weight: 800;
    align-self: center;

}


.large-data-container {
    margin-top: 8px;
    color: white;
}

.large-data-container h2 {
    font-size: large;
}
.large-data-container input{
    margin-top: 4px;
    width: 100%;
    min-height: 3vh;
}

.admin-buttons {
    align-self: flex-end; 
    margin:  16px 30px 16px 0;
}

.admin-buttons button{
    padding: 15px 25px;
    white-space: nowrap;
    border-style: hidden;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    background-color: var(--mainColorDarker);
    cursor: pointer;
}

.session-data-container {
    color: white;
}

.session-data-container select {
    width: 100%;
    margin-bottom: 8px;
}

.session-data-container h2 {
    margin-bottom: 4px;
}

.admin-buttons-session {
    display: flex;
    align-self: flex-end;
}

.custom-chart {
    height: 20px;
    margin-left: 50px;
    width: 100%;

}

.canvasjs-chart-credit{
    display: none;
}

@media (max-width: 992px){
    .add-container {
        width: 80%;
    }

    .data-container {
        flex-direction: column;
    }

    .data-container img{
        align-self: center;
        margin-bottom: 20px;
    }

    .add-inputs{
        width: auto;
        margin-left: 0px;
    }

    .add-inputs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
    


@media (max-width: 850px) {
    .admin-title-container h1 {
        font-size: x-large;
    }

    .opciones-admin-container a {
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .opciones-admin-container{
        font-size: small;
    }

    .dashboard-admin-content {
        flex-direction: column;
    }

    .custom-chart {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .statistics-admin-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .input-add{
        flex-direction: column;

    }
}


@media (max-width: 700px) {
    .admin-title-container h1 {
        font-size: x-large;
    }

    .opciones-admin-container {
        width: 80%;
        flex-direction: column;
    }
    .add-inputs{
        grid-template-columns: 1fr;
        margin-left: 0px;
        width: 100%;
    }
    .add-inputs input{
        width: 100%;
    }


}

@media (max-width: 400px) {
    .statistics-admin-container {
        display: flex;
        flex-direction: column;
    }
}
