
.content-container {
    flex: 1;
}

.films-filter-Container {
    display: flex;
    justify-content: space-around;
    margin: 8px;
}

.films-filter-Container div {
    margin-bottom: 10px;
}

.films-filter-Container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.films-filter-Container select {
    width: 100%; 
    padding: 0.5em; 
    font-size: 1rem; 
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background-color: #f5f5f5;
    color: #333;
}


.films-filter-Container select option {
    background-color: #fff;
    color: #333;
}



@media (max-width: 767px) {
    .filmsFilterContainer {
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}