/* Estilos CSS para el formulario de comprobación de reserva */
@import url('colors.css');

.comprobar-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex: 1;
    width: 40%;
    align-self: center;
    justify-content: center;
}

.comprobar-text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.comprobar-form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
}


.comprobar-text-container h2 {
    font-size: xx-large;
    margin-bottom: 10px;
    color: var(--mainColor);
}

.comprobar-text-container p {
    margin-bottom: 10px;
    font-size:  large;
}

.comprobar-container-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
.comprobar-form-group {
    position: relative;
    margin-top: 20px;
    width: 80%;
    align-self: center;
}

.comprobar-form-group .comprobar-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 40%;
    border: none;
    border-bottom: 1px solid #0A2239;
    background: transparent;
}


.comprobar-form-group .comprobar-input:focus {
    outline: none;
}

.comprobar-form-group .comprobar-label {
    color: #0A2239;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.comprobar-form-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.comprobar-form-group .comprobar-input:focus ~ .comprobar-label .label-char,
.comprobar-form-group .comprobar-input:valid ~ .comprobar-label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #0A2239;
}

.comprobar-form-group .comprobar-bar {
    position: relative;
    display: block;
}

/* Estilos para el label cuando el select tiene una opción seleccionada */
.comprobar-label.active .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #0A2239;
}

/* Ocultar la opción "Select an option" */
.comprobar-form-group .select option[disabled] {
    display: none;
}

.comprobar-form-group .select {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 40%;
    border: 0px; /* Eliminamos el borde */
    border-bottom: 1px solid #0A2239;
    background: transparent;
    outline:none;
}

.comprobar-form-group .select:focus {
    outline: none;
}


.comprobar-button {
    width: 80%;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center; /* Centrar el texto horizontalmente */
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--mainColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}


.comprobar-button:hover {
    background-color: var(--mainColorDark);
}

.comprobar-button span {
    vertical-align: middle;
}


.detalles-reserva-container {
    align-self: center;
    width: 100%;
}

.detalles-reserva-container h2 {
    font-size: xx-large;
    margin-bottom: 10px;
    color: var(--mainColor);
}

.detalles-reserva-content p {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: large;
}

.detalles-reserva-footer {
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: var(--mainColor);
}



@media (max-width: 768px) {
    .comprobar-main-container {
        width: 80%;
    }
    .comprobar-text-container img{
        display: none;
    }

    .detalles-reserva-container{
        margin-top: 20px;
    }

}





@media (max-width: 768px) {
    .comprobar-main-container {
        width: 80%;
    }
    .comprobar-text-container img{
        display: none;
    }

    .comprobar-label span {
        font-size: small;
    }
}
