

.promocionesContainer {
    margin: 16px 0px 16px 0px;
}

.promocionesGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; /* Reducir el espacio entre las imágenes */
    width: 100%;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.promocionesGrid img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.promocionesGrid#type1 img {
    cursor: pointer;
}


@media (max-width: 1920px) {
    .promocionesGrid{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1600px) {
    .promocionesGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .promocionesGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991px) {
    .promocionesGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .promocionesGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 479px) {
    .promocionesGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}
