@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('colors.css');

.bodyHeader{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--mainTextWhite);
    height: auto ;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.HeaderContainer{
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    z-index: 999999999999;
    display: flex;
    font-size: large;
    align-items: center;
    background-color: var(--mainTextWhite);
    color: var(--mainColor);
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.LeftSideContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavList{
    display: flex;
    flex-direction: row; 
    white-space: nowrap;

}

.NavList#mobile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.NavList li{
    cursor: pointer;
    font-weight: 800;
}

.NavList#mobile li{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.NavList#simple > *:not(:nth-child(1)) {
    margin-left: 50px;
}

.NavMenu {
    list-style-type: none;
    padding: 0;
}

.NavLink {
    text-decoration: none;
    color: var(--mainColor);
    display: block;
}

.NavItem {
    position: relative;
    display: inline-block;
}


.DropdownMenu {
    display: none;
    position: absolute;
    background-color: #fff; 
    border: 1px solid #ccc; 
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DropdownMenu li {
    display: block;
    padding: 8px 12px;
    color: var(--mainColor);
    transition: background-color 0.3s; 
}


.DropdownMenu li:hover {
    background-color: #ebe1e1; 
}

/* Mostrar el menú desplegable cuando se pasa el cursor sobre el elemento principal */
.NavItem:hover .DropdownMenu {
    display: block;
}




.Logo{
    width: 160px;
    margin: 20px 50px 20px 30px;
    fill: var(--mainColor);
    cursor: pointer;
}

.ButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.ButtonContainer button{
    cursor: pointer;
    padding: 15px 25px;
    font-size: medium;
    font-weight: bolder;
    white-space: nowrap;
    border-style: hidden;
    border-radius: 10px;
}

.ButtonContainer button:nth-child(1){
    background-color: var(--mainColor);
    color: white;
    margin-right: 24px;
}

.ButtonContainer button:nth-child(2){
    background-color: var(--elementColor);
    color: var(--mainTextBlack);
}

.Dropdown {
    display: none;
    color: var(--mainTextWhite);;
    font-weight: bolder;
    background-color: var(--mainColorDarker);
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}

.Dropdown.show {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    z-index: 1;
    justify-content: center;
    height: 100%;

}

.Cines{
    margin-bottom: 30px;
}

.Cines ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: xx-large;
}

.Cines ul li{
    text-align: center;
}


.Nav{

    width: 100%;
}

.Nav li{
    text-align: center;
}

.Nav li button{
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--mainTextWhite);;
    padding: 5px;
}

@media (min-width: 767px) {
    .MenuButton {
        display: none;
    }

    .MenuContent {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 1600px) {
    .HeaderContainer{
        font-size: medium;
    }

    .NavList#simple > *:not(:nth-child(1)) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 1200px) {
    .HeaderContainer{
        font-size: small;
    }

    .Logo{
        width: 100px;
        margin-right: 20px;
    }

    .ButtonContainer button{
        padding: 5px 15px;
        font-size: small;
    }
}

@media (max-width: 991px) {


    .Logo{
        width: 100px;
        margin-right: 20px;
    }

    .ButtonContainer button{
        font-size: x-small;
    }

    .ButtonContainer button:nth-child(1){
        margin-right: 8px;
    }

    .NavList#simple > *:not(:nth-child(1)) {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .MenuContent {
        display: none;
    }

    .MenuButton {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        position: relative;
        margin-right: 30px;
    }

    .MenuButton svg{
        align-self: center;
    }

    .Logo{
        width: 150px;
    }

    .ButtonContainer{
        display: none;
    }
}

@media (max-width: 479px) {

    .Logo{
        width: 100px;
    }

    .Dropdown{
        font-size: small;
    }

    .Cines ul{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .MenuButton svg{
        width: 20px;
        height: 20px;
    }

    .NavList#mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}