@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.body{
    font-family: 'Inter', sans-serif;
}

.TextContainer{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.TextContainer h1{
    font-size: xxx-large;
    font-weight: 700;
    color: #0A2239;
}