@import url('colors.css');

.blurred-background {
filter: blur(5px); /* Ajusta el valor de blur según tus preferencias */
transition: filter 0.3s ease; /* Agrega una transición suave */
}

#popups {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 999;
}

.close-recuperar-button {
    position: absolute;
    top: 20px;
    right: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: transparent;
    }

#reset-password-component {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
cursor: default;
z-index: 99999; /* Asegura que esté encima de otros elementos */
/* Agrega cualquier estilo adicional que desees para el componente de registro */
}

.form-container-recuperar-contrasena {
height: auto;
background-color: var(--mainColorDark);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 10px;
box-sizing: border-box;
padding: 20px 30px;
}

.title-recuperar-contrasena {
text-align: center;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
margin: 30px 0 30px 0;
font-size: 28px;
font-weight: 800;
color: white;
}

.form-recuperar-contrasena {
width: 100%;
display: flex;
flex-direction: column;
gap: 18px;
margin-bottom: 15px;
}

.input-recuperar-contrasena {
padding: 12px 15px;
color: white;
}

.form-btn-recuperar-contrasena {
padding: 10px 15px;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
border: 0 !important;
outline: 0 !important;
background: var(--mainColor);
color: white;
cursor: pointer;
}

.form-btn-recuperar-contrasena:active {
box-shadow: none;
}

.buttons-container {
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: 20px;
gap: 15px;
}


