@import url('colors.css');

.perfil-container {
    display: flex;
    width: 80%; /* Puedes ajustar el ancho según tus necesidades */
    border-radius: 10px;
    background-color: white;
    margin: 30px auto;
    padding: 0px 30px 10px 0px;
    flex: 1;
    color: black;
    /* border gris flojo difuminado */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#botones-perfil-component{
    display: table-row;
}

.opciones-menu-container{
    display: flex;
    padding: 10px 10px;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    border-right: 1px solid rgb(181, 181, 181);
    border-bottom: 1px  solid rgb(181, 181, 181);
    font-weight: bolder;
    color: grey;
}

#active {
    border-right: 4px solid var(--mainColor);
    color: var(--mainColor);
}

.configuracion-perfil-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    margin: 20px 0px 0px 40px;
    overflow-x: hidden;
}

.cabecera-perfil-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cabecera-perfil-container h1 {
    font-size: xx-large;
    color: var(--grayProfile);
}

.imagen-perfil {
    width: 60px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
}

.imagen-perfil img {
    width: 100%;
    height: auto;
    display: block;
}

.data-container {
    display: flex;
    flex-direction: column;
    width: 100%;  
      
}

.datos-personales-container {
    margin-bottom: 20px;
}

.datos-personales-container h2 {
    margin-bottom: 20px;
    font-size: x-large;
}

.datos-personales-grid {
    display: grid;
    font-size: medium;
    grid-template-columns: repeat(3, 1fr);
}

.button-container {
    margin-top: auto;
    align-self: flex-end;
}

.button {
    margin-bottom: 8px;
    color: white;
    cursor: pointer;
    padding: 15px 25px;
    font-size: medium;
    font-weight: bolder;
    white-space: nowrap;
    border-style: hidden;
    border-radius: 10px;
    background-color: var(--mainColor);
}

.datos{
    display: flex;
    margin-bottom: 20px;
}

.datos span {
    margin-right: 10px
}


.datos-contrasena-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.inputs-container {
    width: auto; 
    margin-right: 16px;
}

.informacion-contrasena-container {
    width: auto;
    border-left: 4px solid black;
    padding: 20px;
}

.informacion-contrasena-container h2, .informacion-contrasena-container li{
    margin-bottom: 10px;
}



.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;    
}


.inputs-contrasena {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.inputs-contrasena h2 {
    font-size: x-large;
    margin-bottom: 5px;
}

.inputs-contrasena div{
    display: flex;
    align-items: center;
}

.inputs-contrasena input {
    margin-top: 4px;
    font-size: small;
}

.inputs-contrasena i {
    margin-left: 5px;
}


/* PAGO*/
.añadir-tarjeta-container{
    display: flex;
    margin-top: 40px;
    padding: 15px;
    border: 1px solid var(--mainColor);
    width: auto;
    gap: 50px;
}

.añadir-tarjeta-container h3{
    color: var(--grayProfile);
    margin-bottom: 10px;
    font-size: large;
}

.añadir-tarjeta-text div{
    display: flex;
    gap: 10px;
}

.añadir-tarjeta-container button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--mainColor);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 0.4s;
    border-style: hidden;
    width: 20%;
    font-size: large;
    white-space: nowrap;
}

.añadir-tarjeta-container button:hover {
    background-color: var(--mainColorDark);
}

.tarjetas-activas-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-bottom: 30px;
    justify-items: center;
    align-items: center;
}

.tarjeta-credito {
    width: 370px;
    height: 270px;
    background: linear-gradient(to bottom right, #0047ab, #00a4e4);
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: white;
    position: relative;
    margin-right: 50px;
    margin-bottom: 50px;
}

.tarjeta-credito .chip {
    width: 60px;
    height: 40px;
    background: linear-gradient(to bottom right, #ddd, #ccc);
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 5px;
}

.tarjeta-credito .cinta {
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom right, #ffcc00, #ff9900);
    position: absolute;
    top: 70px;
    left: 0;
    border-radius: 0 0 15px 15px;
}

.tarjeta-credito .datos {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.tarjeta-credito .fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.tarjeta-credito .columna {
    display: flex;
    flex: 1;
    margin-right: 10px;
    align-items: center;
}

.tarjeta-credito label {
    margin-right: 10px;
}

.tarjeta-credito label {
    font-size: 12px;
}

.tarjeta-credito input {
    width: 100%;
    padding: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #333;
}

.eliminar-tarjeta-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffcc00;
    color: #333;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 0.4s;
    border-style: hidden;
    font-size: medium;
}

/* HISTORIAL DE  COMPRAS */
.data-container-compras {
    overflow-x: hidden;
    margin-bottom: 20px;
}

#tabla-compras{
    overflow-x: auto;
}

#tabla-compras table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

#tabla-compras th,
#tabla-compras td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#tabla-compras th {
    background-color: #f0f0f0;
}

@media screen and (max-width: 2000px){
    .tarjetas-activas-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1400px) {
    .datos-personales-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .añadir-tarjeta-container button{
        width: 60%;
    }

    .tarjetas-activas-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .tarjeta-credito {
        width: 300px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .eliminar-tarjeta-button{
        bottom: 10px;
    }
}   

@media screen and (max-width: 1155px) {
    .añadir-tarjeta-container{
        flex-direction: column;
        align-items: center;
    }
    .configuracion-perfil-container {
        min-height: 50vh;
    }
    
    .datos-personales-grid {
        font-size: medium;
        grid-template-columns: repeat(1, 1fr);
    }

    .datos{
        flex-direction: column;
    }

    .datos span {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .configuracion-perfil-container{
        margin-left: 30px;
    }
    .datos-contrasena-container {
        flex-direction: column;
    }
    .informacion-contrasena-container {
        border-left: 0px;
        
    }
}   


@media screen and (max-width: 800px) {
    .cabecera-perfil-container h1 {
        font-size: x-large;
        margin-bottom: 10px;
    }


    .añadir-tarjeta-container button{
        width: 80%;
    }
    
    .inputs-contrasena h2 {
        font-size: large;
    }

    .inputs-container h1 {
        font-size: large;
    }
    .datos {
        width: auto ;
        margin-right: 0;
    }
    .datos input {
        width: 90%;
        margin-right: 0px;
    }
}

@media screen and (max-width: 700px) {
    .tarjetas-activas-grid{
        
    }

    .tarjeta-credito {
        width: 230px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 551px) {
    .configuracion-perfil-container{
        width: 80%;
    }
    .perfil-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .añadir-tarjeta-container button{
        width: 100%;
        font-size: medium;
    }

    .button{
        padding: 10px 10px;
        align-self: center;
        margin-bottom: 20px;
    }

    .configuracion-perfil-container {
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .cabecera-perfil-container {
        margin-top: 20px;
        width: 100%;
    }
    .opciones-menu-container {
        border-radius: 0%;
        border-right: 0px;
    }
    #active {
        color: var(--mainColor);
        border-right: 0px;
    }

    .tarjetas-activas-grid{
        width: 100%;
    }

    .tarjeta-credito{
        width: 200px;
        height: 400px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .tarjeta-credito label {
        margin-bottom: 10px;
    }

    .tarjeta-credito .fila {
        display: flex;
        flex-direction: column;
    }

    .tarjeta-credito .columna {
        flex-direction: column;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .cabecera-perfil-container{
        flex-direction: column;
        align-items: center;
    }
    .inputs-container h1{
        font-size: large    ;
    }
    .inputs-container input {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .tarjeta-credito {
        width: 120px;
        height: 400px;
        margin-bottom: 20px;
    }

    .tarjeta-credito .fila {
        align-items: flex-start;
    }

    .tarjeta-credito .columna {
        align-items: flex-start;
    }

    .tarjeta-credito .eliminar-tarjeta-button {
        bottom: 10px;
        right: auto ;
        left: auto;
        padding: 5px 10px;
    }

    .añadir-tarjeta-container button {
        font-size: small;
    }
}
