.promocionesTitleContainer {
    margin-left: 28px;
    width: 80%;
}

.promocionesTitleContainer .title {
    font-size: xxx-large;
    margin-bottom: 4px;
}

.promocionesContainerAll {
    text-align: center;
    margin-top: 30px;
}

.promocionesContainerAll .title {
    font-size: x-large;
    justify-self: center;
}