.blurred-background {
filter: blur(5px); /* Ajusta el valor de blur según tus preferencias */
transition: filter 0.3s ease; /* Agrega una transición suave */
}

#popups {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 999;
}

#recuperar-contrasena-component {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
cursor: default;
z-index: 99999; /* Asegura que esté encima de otros elementos */
/* Agrega cualquier estilo adicional que desees para el componente de registro */
}

.form-container-recuperar-contrasena {
width: 350px;
height: auto;
background-color: #fff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 10px;
box-sizing: border-box;
padding: 20px 30px;
}

.title-recuperar-contrasena {
text-align: center;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
margin: 10px 0 30px 0;
font-size: 28px;
font-weight: 800;
color: #0b2741;
}

.form-recuperar-contrasena {
width: 100%;
display: flex;
flex-direction: column;
gap: 18px;
margin-bottom: 15px;
}

.input-recuperar-contrasena {
border-radius: 20px;
border: 1px solid #0b2741;
outline: 0 !important;
box-sizing: border-box;
padding: 12px 15px;
color: #0b2741;
}

.page-link {
text-decoration: underline;
margin: 0;
text-align: end;
color: #747474;
text-decoration-color: #747474;
}

.page-link-label {
cursor: pointer;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
font-size: 9px;
font-weight: 700;
color: #0b2741;
}

.page-link-label:hover {
color: #000;
}

.form-btn-recuperar-contrasena {
padding: 10px 15px;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
border-radius: 20px;
border: 0 !important;
outline: 0 !important;
background: #0b2741;
color: white;
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn-recuperar-contrasena:active {
box-shadow: none;
}



.buttons-container {
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: 20px;
gap: 15px;
}


