@import url('colors.css');

.title-container .title-resena {
    text-align: center;
    width: 100%;
    font-weight: 800;
    font-size: xxx-large;
    margin-bottom: 16px;
    color: var(--mainColor);
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: self-start; 
    width: 90%;
    flex: 1;
    margin-bottom: 20px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    color: var(--mainColor);
}

.peliculaPanel  {
    margin-top: 4px;
    display: flex;
    padding: 20px;
    background-color: var(--mainColor);
    color: #ffffff;
    border-radius: 8px;
}
.peliculaPanel img {
    max-width: 20%; 
    height: 25vh;
}

.peliculaPanel button {
    background-color: #E7E5DF;
    border-radius: 8px;
    align-self: flex-end;
    white-space: nowrap;
}
.peliculaPanel .datosPelicula {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 16px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked) > label {
    float: right;
    font-size: 30px;
    color: #E7E5DF;
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: #ffa723;
}
.rating {
    margin-top: 16px;
}

.sinopsisContainer {
    display: flex;
    align-self: center;
    margin-top: 16px;
    flex-direction: column;
}

.sinopsisContainer h1{
    margin-bottom: 16px;
    font-size: x-large;
}

.sinopsisContainer span{
    color: #000000;
}

.input {
    border: 2px solid transparent;
    width: 80%;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #E7E5DF;
    border-radius: 10px;
    transition: all 0.5s;
    color: black;
}

.input:hover, .input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}
.opiniones-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
}

.opiniones-container button, .ver-mas-container button {
    cursor: pointer;
    padding: 15px 25px;
    white-space: nowrap;
    border-style: hidden;
    border-radius: 10px;
    padding-bottom: 15px  25px;
    font-weight: bolder;
    color: #000000;
    background-color: #E7E5DF;
}

.escribir-reseña-container {
    display: flex;
    justify-content: flex-start;
    justify-self: self-start;
    width: 100%;
}

.escribir-reseña-container button{
    margin-left: 20px;
}

.opiniones-container h1{
    font-size: x-large;
    margin-bottom: 16px;
}

.post {
    border: 1px solid #E7E5DF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%; /* Para que la imagen sea circular */
    margin-right: 10px;
    object-fit: cover;
}

.post-content {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 8px;
    color: #000;
}

.footer-container-post {
    font-style: italic;
    display: flex;
    justify-content: space-between;
    color: #969384;
    align-items: flex-end;
}

.ver-mas-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}


@media (max-width: 767px) {
    .peliculaPanel {
        flex-direction: column;
    }
    .peliculaPanel img {
        width: 40%;
        align-self: center;
        margin-bottom: 16px;
    }
    .title-container .title-resena {
        width: 85%;
        font-size: x-large;
    }
}

@media (max-width: 991px) {
    .title-container .title-resena {
        width: 85%;
        font-size: xx-large;
    }
}