
.blurred-background{
    filter: blur(5px);
    transition: filter 0.3s ease;
}


#popups {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#make-reservation-component, #make-reservation-component2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    width: 50%;
}

.projection-container {
    background-color: var(--mainColorDarker);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.projection-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: xx-large;
    border-bottom: 2px solid white;
    padding: 20px 0px;
}
.projection-container-header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

.projection-container-header h1 {
    margin-left: 20px;
    
}
.projection-img {
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
     object-fit: cover;
}

.projection-container-body {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.projection-hours-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    flex: 1;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 30px;
}
.projection-hours-container h1 {
    padding: 20px;
    align-self: center;
    font-size: x-large;
}

.projection-hours-container h2 {
    padding: 20px;
    align-self: center;
    text-decoration: underline;
}
.grid-container-projection, .grid-container-horas, .grid-container-dias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 5vh;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid-container-dias::-webkit-scrollbar,
.grid-container-horas::-webkit-scrollbar,
.grid-container-projection::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track styles (background of the scrollbar) */
.grid-container-dias::-webkit-scrollbar-track,
.grid-container-horas::-webkit-scrollbar-track,
.grid-container-projection::-webkit-scrollbar-track {
    background: transparent;    
}

/* Handle styles (the draggable part of the scrollbar) */
.grid-container-dias::-webkit-scrollbar-thumb,
.grid-container-horas::-webkit-scrollbar-thumb,
.grid-container-projection::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 6px;
}

/* Handle on hover */
.grid-container-dias::-webkit-scrollbar-thumb:hover,
.grid-container-horas::-webkit-scrollbar-thumb:hover,
.grid-container-projection::-webkit-scrollbar-thumb:hover  {
    background: #555;
}
.projection-days-container, .projection-hora-container {
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: var(--mainColor);
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.projection-days-container.selected, .projection-hora-container.selected {
    background-color: white;
    color: var(--mainColor);
}

.botones-projection {
    display: flex;
    margin-top: 16px;
    gap: 50px;
}

.botones-projection button{
    background-color:var(--mainColor);
    border: 0px solid white;
    cursor: pointer;
    color: white;
    padding: 10px;
    font-weight: bolder;
    border: 1px solid white;
}

@media (max-width: 1400px) {
    .projection-hours-container{
        margin-right: 10px;
    }
    .projection-img{
        margin-right: 10px;
        width: 30%;
    }

    #make-reservation-component, #make-reservation-component2 {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    #make-reservation-component, #make-reservation-component2 {
        width: 70%;
    }
}

@media (max-width: 991px) {
    #make-reservation-component, #make-reservation-component2 {
        width: 80%;
    }

    .grid-container-projection, .grid-container-horas, .grid-container-dias {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .projection-hours-container h1{
        padding: 20px 0px;
    }
}

@media (max-width: 767px) {
    .projection-container-header {
        font-size: x-large;
    }

    .projection-hours-container h1 {
        font-size: large;
    }

    .projection-days-container, .projection-hora-container {
        font-size: small;
    }

    .projection-container-body {
        flex-direction: column;
    }

    .projection-img{
        margin: 0px;
        margin-top: 20px;
    }

    .grid-container-projection, .grid-container-horas, .grid-container-dias {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (max-width: 600px) {
    .projection-container-header {
        font-size: large;
    }

    .grid-container-projection, .grid-container-horas, .grid-container-dias {
        grid-template-columns: repeat(2, 1fr);
        max-height: 15vh;
    }

    .botones-projection button{
        font-size: small;
        padding: 5px;
    }

    .botones-projection{
        gap: 10px;
    }
}

@media (max-width: 400px) {

    .grid-container-projection, .grid-container-horas, .grid-container-dias {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-height: 250px) and (max-height: 900px){
    .projection-hours-container h1, .projection-hours-container h2{
        padding: 10px;
    }
}

@media (min-height: 250px) and (max-height: 900px) and (max-width: 500px){

    .grid-container-projection, .grid-container-horas, .grid-container-dias {
        grid-template-columns: repeat(1, 1fr);
    }
}
