.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 40vh;

}
.slider-container img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.slider-controls  {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    top: 0;  
    align-items: center;
}

.slider-controls button {
    background-color: transparent;
    border: none; 
    padding: 0.75em 0.9375em; 
    cursor: pointer; 
    color: white; 
    font-size: 1.2rem;
    height: 20%;

}

.slider-controls button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    transition: background-color 0.3s ease; 
}

    