.summary-section {
    width: 80%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.summary-section-details p{ 
    margin-bottom: 10px;
}

.summary-section h2 {
    color: var(--mainColor);
    font-size: 24px;
    text-align: left;
    margin-bottom: 8px
}

#summary-price-container {
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Color de texto */
    margin-top: 40px; /* Espacio superior */
}


.summary-section img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    align-self: center;
}